*{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 50vh;
}

.topNavbar{
    width: 100%;
    background: linear-gradient(90deg,#8FCFD8,#22A3B1);
}
.navbar-button{
    background: linear-gradient(90deg,#b9f7ff,#22A3B1);
    border: none;
    transition: 0.4s ease;
}
.navbar-button:hover{
    background: #b9f7ff;
}
#search-input {
    width: 300px;
    padding: 5px;
  }

  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .search-results {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    max-width: 300px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
  }

  .search-results div {
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 1px solid #f1f1f1;
  }

  .search-results div:last-child {
    border-bottom: none;
  }

  .search-results div:hover {
    background: #f0f0f0;
  }
.sidenav{
    box-shadow: 0px 0px 5px #00000050;
}
.sidebar-text{
    font-size: small;
    text-decoration: none;
    color: #000;
    margin: 0.5rem 0.2rem;
    padding: 0px 0.3rem;
    transition: 0.2s ease;
}
.sidebar-text:hover{
    color: #3e89f1;
}
.sidebar-text:active{
    background: #bcbcbc;
    border-radius: 10px;
}
.banner{
    background: linear-gradient(360deg, rgba(173, 216, 230, 0.619), white); 
    padding-bottom: 2rem;
}   
.banner img{
    border-radius: 1rem;
    width: 75%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 255, 0.5); 
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(0, 0, 255, 1); 
}

.section-title,
.featured-title,
.faq-title{
    padding: 0.5rem;
    box-shadow: 0px 0px 5px #0000008d;
    border-radius: 10px;
}
.section-title{
    background: linear-gradient(135deg, #c6c8e5, #7980c9, #5f68cb);
}
.featured-title{
    background: linear-gradient(135deg, #e5dec6, #c9bc79, #cbc05f);
}
.mini-game{
    background: linear-gradient(135deg, #ffffff90, #d1d1d182, #9f9f9f88);
}
.bi{
    padding: 0.2rem 0.4rem;
    transition: 0.2s ease;
    border-radius: 10px;
}
.bi-facebook:hover{
    color: #000fff;
    background: #fff;
    text-shadow: 0px 0px 10px #000fff;
}
.bi-twitter-x:hover{
    color: #000000;
    background: #fff;
    text-shadow: 0px 0px 10px #000000;
}
.bi-instagram:hover{
    color: #f670a6;
    background: #fff;
    text-shadow: 0px 0px 10px #f670a6;
}
.bi-github:hover{
    color: #000000;
    background: #fff;
    text-shadow: 0px 0px 10px #000000;
}
.bg-login-1{
    background: url(/assets/background.jpg);
    background-size: cover;
    opacity: 90%;
}
.bg-login-2{
    background: linear-gradient(90deg, #000000, #6d7091, #b4bfce);
}
.bg-login-3{
    background: linear-gradient(90deg, #b4bfce, #6d7091, #797979);
}
.login-container,
.register-container{
    position: relative;
    max-width: 26rem;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(135deg, #ffffff3e, #ffffff63, #ffffff92);
    border: 2px solid #dfdfdf;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.exit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #6c757d;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.1s ease;
}
.exit-icon:hover{
    color: #8FCFD8;
}
.form-control:focus{
    border: none;
    box-shadow: 2px 2px 2px #00000095 inset;
}

.checkout-img{
    border-radius: 10px;
    box-shadow: 2px 2px 10px #0000009e;
}